<div style="margin: 10px;">
  <div class="row" *ngIf="filteredListings() as lst">
    <div class="col-3" *ngIf="!transactions">
      <mat-card style="width: 100%;padding-top: 0px">
        <mat-calendar [selected]="selected" (selectedChange)="selected = $event"></mat-calendar>
      </mat-card>
      <button *ngIf="selected" type="button" class="btn btn-outline-danger btn-block" (click)="selected = null">Clear Date Selection</button>
      <h2 class="display-4" style="margin-top: 10px;">Categories:</h2>
      <div *ngFor="let category of categories">
        <h4 class="display-6" style="margin-top: 10px;">{{category[0]}}</h4>
        <div class="btn-group-toggle btn-group-vertical" data-toggle="buttons" style="width: 100%;">
          <label *ngFor="let c of category[1]" class="btn btn-outline-dark btn-block" [for]="c.name">
            <input type="checkbox" class="btn-check" [id]="c.name" autocomplete="off" [(ngModel)]="c.selected">
            {{c.name + (c.selected ? ' ✔' : '')}}
          </label>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">🔎</span>
              </div>
              <input type="text" placeholder="Search"  class="form-control" [(ngModel)]="searchTerm">
            </div>
          </div>
          <div class="col-auto" *ngIf="!transactions">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Order By</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="sortCol">
                <option *ngFor="let c of sortCols; let i = index" [value]="i">{{c.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <p style="margin: 0px;"><i>{{ lst.length }} results</i></p>
          </div>
          <div class="col-auto" *ngIf="lst.length > 0">
            <div class="row">
              <div class="col-auto" *ngIf="hasCancelled">
                <div class="card">
                  <div class="card-body" style="padding:10px">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="checkActive" [(ngModel)]="activeListings">
                      <label class="form-check-label" for="checkActive">
                        Only show active listings
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="form-group">
                  <label for="itemsPerPage">Items Per Page: </label>
                  <div class="btn-group mr-2" role="group" aria-label="First group" id="itemsPerPage">
                    <button *ngFor="let o of pageLimitOption; let i = index" type="button" [class]="'btn btn' + (pageLimitIndex === i ? '': '-outline') + '-secondary'" (click)="pageLimitIndex = i; currentPage = 1">{{o}}</button>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="input-group mb-3" id="currPage">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" (click)="currentPage = currentPage !== 1 ? currentPage - 1 : currentPage">&#60;</button>
                  </div>
                  <input type="number" min=1 [max]="maxPage(lst)" class="form-control" [(ngModel)]="currentPage">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="currentPage = currentPage !== maxPage(lst) ? currentPage + 1 : currentPage">&#62;</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" *ngIf="pageLimitOption[pageLimitIndex] as pageLimit">
            <div class="card" *ngFor="let l of lst.slice(pageLimit * (currentPage - 1), pageLimit * (currentPage - 1) + pageLimit)">
              <div class="row no-gutters">
                <div class="col-auto" [routerLink]="['/listings', 'details', l.listingID]">
                  <img class="card-img-left" [src]="l.picture ? l.picture : image.getPlaceholderImage()" style="width: 286px;height: 180px;" alt="Card image cap">
                </div>
                <div class="col">
                  <div class="card-body">
                    <div class="row no-gutters">
                      <div class="col" [routerLink]="['/listings', 'details', l.listingID]">
                        <h5 class="card-title">{{l.name}}
                          <b *ngIf="user.getId() === l.userID" style="color: blue;"> (YOURS) </b>
                          <b *ngIf="l.status ==='cancelled'" style="color: red;"> (CANCELLED) </b>
                        </h5>
                        <p *ngIf="!transactions">Available Assets: <b>{{l.availableAssets}}</b></p>
                        <p *ngIf="transactions">Number of Assets: <b>{{l.numberOfAssets}}</b></p>
                        <p *ngIf="!transactions">Start Date: <b>{{l.startDate}}</b></p>
                        <p *ngIf="transactions">Price: <b>€{{l.pricePerAsset * l.numberOfAssets}}</b></p>
                        <p *ngIf="transactions">Status: <b>{{l.status}}</b></p>
                      </div>
                      <div class="col-auto" *ngIf="!transactions">
                        <h2 ><i>€ {{l.price}}</i></h2>
                      </div>
                      <div class="col-auto" *ngIf="transactions && l.status !== 'cancelled'">
                        <button type="button" class="btn btn-danger" (click)="cancelTransaction(l.transactionID)">CANCEL</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="lst.length === 0">
              <b>No Listings Found</b>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="lst.length > 0">
          <div class="col"></div>
          <div class="col-auto">
            <div class="form-group">
              <label for="itemsPerPage">Items Per Page: </label>
              <div class="btn-group mr-2" role="group" aria-label="First group" id="itemsPerPage">
                <button *ngFor="let o of pageLimitOption; let i = index" type="button" [class]="'btn btn' + (pageLimitIndex === i ? '': '-outline') + '-secondary'" (click)="pageLimitIndex = i;currentPage = 1">{{o}}</button>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="input-group mb-3" id="currPage">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" (click)="currentPage = currentPage !== 1 ? currentPage - 1 : currentPage">&#60;</button>
              </div>
              <input type="number" min=1 [max]="maxPage(lst)" class="form-control" [(ngModel)]="currentPage">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="currentPage = currentPage !== maxPage(lst) ? currentPage + 1 : currentPage">&#62;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


