<div style="margin: 10px;">
  <div class="row" *ngIf="filteredListings() as lst">
    <div class="col-3" *ngIf="!bookings">
      <mat-card style="width: 100%;padding-top: 0px">
        <mat-calendar [selected]="selected" (selectedChange)="selected = $event"></mat-calendar>
      </mat-card>
      <button *ngIf="selected" type="button" class="btn btn-outline-danger btn-block" (click)="selected = null">Clear Date Selection</button>
    </div>
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">🔎</span>
              </div>
              <input type="text" placeholder="Search"  class="form-control" [(ngModel)]="searchTerm">
            </div>
          </div>
          <div class="col-auto" *ngIf="!bookings">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Order By</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="sortCol">
                <option *ngFor="let c of sortCols; let i = index" [value]="i">{{c.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <p style="margin: 0px;"><i>{{ lst.length }} results</i></p>
          </div>
          <div class="col-auto" *ngIf="lst.length > 0">
            <div class="row">
              <div class="col-auto">
                <div class="form-group">
                  <label for="itemsPerPage">Items Per Page: </label>
                  <div class="btn-group mr-2" role="group" aria-label="First group" id="itemsPerPage">
                    <button *ngFor="let o of pageLimitOption; let i = index" type="button" [class]="'btn btn' + (pageLimitIndex === i ? '': '-outline') + '-secondary'" (click)="pageLimitIndex = i; currentPage = 1">{{o}}</button>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="input-group mb-3" id="currPage">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" (click)="currentPage = currentPage !== 1 ? currentPage - 1 : currentPage">&#60;</button>
                  </div>
                  <input type="number" min=1 [max]="maxPage(lst)" class="form-control" [(ngModel)]="currentPage">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="currentPage = currentPage !== maxPage(lst) ? currentPage + 1 : currentPage">&#62;</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" *ngIf="pageLimitOption[pageLimitIndex] as pageLimit">
            <div class="card" *ngFor="let l of lst.slice(pageLimit * (currentPage - 1), pageLimit * (currentPage - 1) + pageLimit)">
              <div class="row no-gutters">
                <div class="col-auto" [routerLink]="['/listings', 'details', l.listingID]">
                  <img class="card-img-left" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17be4d49058%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17be4d49058%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                </div>
                <div class="col">
                  <div class="card-body">
                    <div class="row no-gutters">
                      <div class="col" [routerLink]="['/listings', 'details', l.listingID]">
                        <h5 class="card-title">{{l.name}}</h5>
                        <p *ngIf="!bookings">Available Assets: <b>{{l.availableAssets}}</b></p>
                        <p *ngIf="bookings">Number of Assets: <b>{{l.numberOfAssets}}</b></p>
                        <p *ngIf="!bookings">Start Date: <b>{{l.startDate}}</b></p>
                        <p *ngIf="bookings">Price: <b>€{{l.pricePerAsset * l.numberOfAssets}}</b></p>
                        <p *ngIf="bookings">Status: <b>{{l.status}}</b></p>
                      </div>
                      <div class="col-auto" *ngIf="!bookings">
                        <h2 ><i>€ {{l.price}}</i></h2>
                        <div *ngIf="user.getId() === l.userID" class="btn-group special" role="group" aria-label="..." style="padding:5px;">
                          <button type="button" class="btn btn-success" routerLink="/listings/form" [queryParams]="{edit: l.listingID}">✏️</button>
                          <button type="button" class="btn btn-danger" (click)="deleteListing(l.listingID)">🗑️</button>
                        </div>
                      </div>
                      <div class="col-auto" *ngIf="bookings && l.status !== 'cancelled'">
                        <button type="button" class="btn btn-danger" (click)="cancelBooking(l.bookingID)">CANCEL</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="lst.length === 0">
              <b>No Listings Found</b>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="lst.length > 0">
          <div class="col"></div>
          <div class="col-auto">
            <div class="form-group">
              <label for="itemsPerPage">Items Per Page: </label>
              <div class="btn-group mr-2" role="group" aria-label="First group" id="itemsPerPage">
                <button *ngFor="let o of pageLimitOption; let i = index" type="button" [class]="'btn btn' + (pageLimitIndex === i ? '': '-outline') + '-secondary'" (click)="pageLimitIndex = i;currentPage = 1">{{o}}</button>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="input-group mb-3" id="currPage">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" (click)="currentPage = currentPage !== 1 ? currentPage - 1 : currentPage">&#60;</button>
              </div>
              <input type="number" min=1 [max]="maxPage(lst)" class="form-control" [(ngModel)]="currentPage">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="currentPage = currentPage !== maxPage(lst) ? currentPage + 1 : currentPage">&#62;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


